{% extends "base.html" %}

{% load i18n %}

{% block content %}
    <h1>{% trans "Listing" %}</h1>

    <div class="table-responsive">
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th>{% trans "Product Name" %}</th>
                    <th>{% trans "Display Name" %}</th>
                    <th>{% trans "SKU" %}</th>
                    <th>{% trans "Actions" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for object in object_list %}
                    <tr>
                        <td>{{ object.product_name }}</td>
                        <td>{{ object.display_name }}</td>
                        <td>{{ object.sku }}</td>
                        <td>
                            <a href="{{ object.get_absolute_url }}">{% trans "Details" %}</a> |
                            <a href="{% url 'products:update' object.pk %}">{% trans "Update" %}</a> | 
                            <a href="{% url 'products:delete' object.pk %}">{% trans "Delete" %}</a>
                        </td>
                    </tr>
                {% empty %}
                    <td>{% trans "No items." %}</td>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <ul>

    </ul>

    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="{% url 'products:list' %}?page={{ page_obj.previous_page_number }}">{% trans "previous" %}</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="{% url 'products:list' %}?page={{ page_obj.next_page_number }}">{% trans "next" %}</a>
                {% endif %}
            </span>
        </div>
    {% endif %}


{% endblock %}

